<section id="me">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title text-center">{{ include.title }}</h2>
                <p class="text-center">
                    Originally from Cotonou, Benin but based in Vancouver, Canada, I have experience in software engineering and development, specifically in mobile development, backend development and automated testing.
                    I am also interested in research areas such as programming languages, static analysis, testing, quality assurance and security analysis.
                </p>

                <p class="text-center"> 
                    My background is in Computer Science and Mathematics from the Dual Bachelor of Science program at Université Paris Diderot (2016-2019).
                    To build up on my theoretical knowledge, I joined the Master of Engineering program in Electrical and Computer Engineering at The University of British Columbia (2019-2021).
                    Then, I transferred to the Master of Applied Science in the same discipline, which added a research component (2021-2024).
                </p>

                <a class="section-jump text-center" href="#contact">
                    <i class="fa fa-angle-down fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
</section>