<section id="me">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title text-center">{{ include.title }}</h2>
                <p class="text-center">
                    Originally from Cotonou, Benin but based in Vancouver, Canada, I have experience in software engineering and development, specifically in mobile development, backend development and automated testing.
                    I am also interested in research areas such as programming languages, static analysis, testing, quality assurance and security analysis.
                </p>
            </div>
        </div>
    </div>
</section>